.grid3Columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr;
}

.grid {
  display: grid;
}

.evenColumns {
  grid-template-columns: 1fr 1fr 1fr;
}

.flexLeftColumn {
  grid-template-columns: fit-content(20px) auto auto;
}

.evenRows {
  grid-template-rows: 1fr 1fr 1fr;
}

.flexBottomRow {
  grid-template-rows: auto auto fit-content(200px);
}

.flexMiddleRow {
    grid-template-rows: auto fit-content(200px) auto;
}

.flexMiddleColumn {
    grid-template-columns: auto fit-content(50ch) auto;
}

.viewportWidth {
  width: 100vw;
  height: 100vh;
}


.vCenter {
  grid-row: 2;
}

.vTop {
  grid-row: 1;
}

.vBot {
  grid-row: 3;
}

.hCenter {
  grid-column: 2;

}

.hLeft {
  grid-column: 1;
}

.twoOneratioColumns {
  grid-template-columns: 1fr 1fr 2fr;
}

.wholeMiddleRow {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 2;
}

.wholeRow {
    grid-column-start: 1;
  grid-column-end: 4;
}

.bottomLeft {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 3;
}

.justifyCenter {
  justify-self: center;
}

.centerText {
  text-align: center;
}

.smallText {
  font-size: 1.5em;
}

.mediumText {
  font-size: 2em;
}

.largeText {
  /* TODO FIX: Changing font size introduces white space */
  font-size: 4em;
}

.boxed {
  background: orange;
  display: flex;
  padding: 5px;
  align-items: center;
}

.size-third-vw {
  width: 33vw;
  max-width: 600px;
  
}

.left {
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: left;
  clip-path: polygon(100% 100%, 100% 10%, 0% 0%, 0% 100%);
  font-size: 2em;
  
}

.left:hover {
  transform: skew(0deg, 4deg);
}

.right:hover {
  transform: skew(0deg, -4deg);
}


.right {
    font-size: 2em;
  grid-column-start: 1;
  grid-column-end: 3;  
  justify-self: right;
  clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 90%);
}


.drawRedCircle {
  height: 25vh;
  width: 25vh;
  border-radius: 50%;
  display: inline-block;
  background-color: red;
}

.centerVertical {
  /* Only works on inline, inline-block, or table-cell box */
  vertical-align: middle;
  margin: auto;
}

.forestBackground {
  background-color: #a3c4bc;
}

.sunBackground {
  background-color: #e7efc5;
}

.dirtBackground {
background-color: #ECEAE0;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  justify-items: center;
  
}

.colours {
  --violet: #413c58;
  --opal: #151616;
  --green: #353634;
  --bud: #e7efc5;
  --champagne: #f2e7c9;
}

.window {
    height: 33vh;
  width: 33vh;
  display: inline-block;
  background-color: #FEFAE0;
    z-index: 3; 
     position: relative;
  border-bottom: 2px solid #0B3142;
  margin-bottom: -2px;

}

.openBlinds {
     transition-duration: 1s;
     transition-property: transform;
     transform-origin: center top;
}

.openBlinds:active {
   transform: rotateX(88deg);
}

.backgroundScene {
    height: 33vh;
  width: 33vh;
  display: inline-block;
  background-color: #0F5257;
  z-index: 2;
  position: relative;
}

.star {
  height: 2px;
  width: 2px;
  background-color: white;
  z-index: 2;
}


.star:nth-of-type(1) { margin-top: 10%; margin-left: 10%;  animation: twinkle 2s infinite;
}
.star:nth-of-type(2) { margin-top: 22%; margin-left: 50%;  animation: twinkle 16s infinite;
}
.star:nth-of-type(3) { margin-top: 20%; margin-left: 80%;  animation: twinkle 7s infinite;
}
.star:nth-of-type(4) { margin-top: 5%; margin-left: 30%;  animation: twinkle 8s infinite;
}
.star:nth-of-type(5) { margin-top: 10%; margin-left: 17%;  animation: twinkle 3s infinite;
}
.star:nth-of-type(6) { margin-top: 20%; margin-left: 88%;}
.star:nth-of-type(7) { margin-top: 24%; margin-left: 66%;}

@keyframes twinkle {
  0% {
    opacity: 1;
    transform: scale(2.0);
    animation-timing-function: ease-in;
  } 
  85% {
    opacity: 0.9;
    transform: scale(1.5);
    animation-timing-function: linear;
  }
  100% {
    opacity: 1;
    transform: scale(0.9);
  }
}


/* Overrides */

li {
  /* Remove browser default bullet points from list items. */
  list-style-type: none;
}

.span {
vertical-align: middle;

}